<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="container">
    <div class="account">
        <%- include('../../partials/account-side-bar') %>

        <div class="account__payment">
            <h1>Your Payment Details</h1>
        </div>
    </div>
</div>


<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>