<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="modal modal--delete">
    <div class="modal__container">
        <div class="modal__header modal__header--danger">
            <h2>Remove Card?</h2>
            <div class="header__close modal--close">
                <img src="/img/icons/close-white.png" />
            </div>
        </div>

        <div class="modal__content">
            Are You sure You want to Proceed?
        </div>

        <div class="modal__close">
            <a href="###" id="delete-payment" class="close__close hvr-sweep-to-right modal--close">
                <h3>Remove Card</h3>
            </a>
            
            <div class="close__close hvr-sweep-to-right modal--close">
                <h3>Close</h3>
            </div>
        </div>
    </div>
</div>


<div class="modal modal--modal">
    <div class="modal__container">
        <div class="modal__header">
            <h2>Add Payment Method</h2>
            <div class="header__close modal--close">
                <img src="/img/icons/close.png" />
            </div>
        </div>
        
        <form class="modal__form" action="/user/account/add/card" method="POST" autocomplete="off">
            <div class="modal__content modal__content--split">
                <div class="content__half--form">
                    <input type="hidden" name="_csrf" value="<%- csrfToken %>" />

                    <div class="form__group">
                        <label class="form__label"><h3>Card Number</h3></label>
                        <input id="card_number" class="form__input" type="text" name="card_number" placeholder="XXXX XXXX XXXX XXXX XXXX"/>      
                    </div>

                    <div class="form__group form__group--col">
                        <div class="form__group--row">
                            <label class="form__label"><h3>Expire Date </h3></label>
                            <input id="expire_date" class="form__input" type="text" name="expire_date" placeholder="XX/XX"/>
                        </div>

                        <div class="form__group--row">
                            <label class="form__label"><h3>CVV</h3></label>
                            <input id="cvv" class="form__input" type="text" name="cvv" placeholder="XXX"/>
                        </div>
                        
                    </div>  

                    <div class="form__group">
                        <label class="form__label"><h3>Type</h3></label>
                        <input id="type" class="form__input" type="text" name="type" placeholder="VISA/Mastercard..."/>
                    </div>
                </div>
            </div>

            <div class="modal__close">
                <button class="close__close hvr-sweep-to-right" type="submit" ><h3>Add Card</h3></button>

                <div class="close__close hvr-sweep-to-right modal--close">
                    <h3>Close</h3>
                </div>                
            </div>
        </form>
    </div>  
</div>


<div class="container">
    <!------ Content ------>
    <div class="account account--background">
        <%- include('../../partials/account-side-bar') %>
        <div class="account__section account__section--no-margin">
            <div class="account__section account__section--full-width account__overview">
                <div class="section__title">
                    <h2>Your Payment Details</h2>
                </div>

                <% if(locals.cards){ %>
                    <% for (var i = 0; i < cards.length;  i++ ) { %>
                        <div class="overview__option hvr-float">
                            <div class="option__content option__content--center option__content--yellow">
                                <div class="content__title content__title--margin-bottom">
                                    <h2><%- cards[i].type %> Credit Card</h2>
                                    <h3><%- cards[i].number %></h3>
                                </div>

                                <div class="content__dsc content__dsc--flex">       
                                    <div class="content__field">
                                        <div class="field__field">
                                            <img src="/img/account/calendar-black.png" />
                                            <h3>Expire Date:</h3>
                                            <%- cards[i].expire_date %>
                                        </div>

                                        <div class="field__field">
                                            <img src="/img/icons/pay.png" />
                                            <h3>Type:</h3>
                                            <%- cards[i].type %>
                                        </div>
                                    </div>      
                                </div>

                                <div class="content__inline content__inline--right">
                                    <div id="<%- cards[i].id %>" class="content__explore content__explore--black hvr-sweep-to-right hvr-sweep-to-right--white content__explore--delete-payment modal--open-delete">
                                        <a href="###">
                                            <h3>Remove Card</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% if(cards.length < 1) { %>
                        <p style="color: black;">No Memberships Found</p>
                    <% } %> 
                <% } else { %>
                    <p style="color: black;">No Memberships Found</p>
                <% } %>
            </div>

            <div class="account__section account__section--full-width account__section--no-margin account__payment-history">
                
                <% if(locals.cards.length > 0){ %>
                    <div class="payment-history__option">
                        <form class=" payment-history__option-form">
                            <div class="option-form__group">
                                <label class="option-form__label"><h3>View Payment History:</h3></label>
                                <select class="option-form__select" name="card-history">
                                    <% for (var i = 0; i < cards.length;  i++ ) { %>
                                        <option value="<%- i %>"><%- cards[i].number %></option>
                                    <% } %>
                                </select>
                            </div>
                        </form>
                    </div>
                <% } %>

                <div class="payment-history__option">
                    <button class="payment-history__button hvr-sweep-to-right modal--open">
                        <h3>Add Payment Method</h3>
                    </button>
                </div>  
            </div>


            <div class="account__section account__section--full-width account__details">
                <div class="section__title">
                    <h2>Your Payment History</h2>
                </div>

                <div class="details__content">
                    <div class="content__form-title content__form-title--top">
                        <div class="form-title__title">
                            <h2>Transaction 1</h2>
                        </div>
        
                        <div class="form-title__desc">
                            Brought some loo roll to fight the pandemic
                        </div>
                    </div>

                    <div class="content__update-form">
                        nfkfsf
                    </div>
        
                    <div class="content__form-title content__form-title--side">
                        <div class="form-title__title">
                            <h2>Transaction 1</h2>
                        </div>
        
                        <div class="form-title__desc">
                            Brought some loo roll to fight the pandemic
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>