<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="container">
    <div class="account account--background">
        <%- include('../../partials/account-side-bar') %>

        <div class="account__section account__details">

            <div class="section__title">
                <h2>Cash payment</h2>
            </div>

            <% if(locals.error){ %>
                <% for (var i = 0; i < error.length;  i++ ) { %>
                    <% if(error[i].path == 'success'){ %>                                    
                        <div class="details__content details__content--success">
                            <h2 class="content__success"><%- error[i].message %></h2>
                        </div>
                    <% } %>
                <% } %>
            <% }%>

            <% if(locals.error){ %>
                <% for (var i = 0; i < error.length;  i++ ) { %>
                    <% if(error[i].path == 'unsuccessful'){ %>                                    
                        <div class="details__content details__content--danger">
                            <h2 class="content__danger"><%- error[i].message %></h2>
                        </div>
                    <% } %>
                <% } %>
            <% }%>


            <div class="details__content">
                <div class="content__form-title content__form-title--top">
                    <div class="form-title__title">
                        <h2>New Activity</h2>
                    </div>

                    <div class="form-title__desc">
                        Ensure their details are correct as these will be used for them to log in
                    </div>
                </div>

                <form class="content__update-form" method="POST" action="" autocomplete="off">
                    <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
    
                    <div class="update-form__group">
                        <label class="update-form__label"><h3>Activity</h3></label>

                        <select id="activity_id" class="update-form__select" name="activity_id">
                            <% for (var i = 0; i < activities.length; i++) { %>
                                <option value="<%- activities[i].id %>"><%- activities[i].name %></option>
                            <% } %>
                        </select>

                        <% if(locals.error){ %>
                            <% for (var i =0; i < error.length;  i++ ) { %>
                                <% if(error[i].path == 'activity_id'){ %>   
                                    <p id="activity_id-error" class="update-form__error"><%- error[i].message %></p>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="update-form__group">
                        <label class="update-form__label"><h3>Amount Paid (£)</h3></label>
                        <input id="amount" class="update-form__input" name="amount" type="text" placeholder="00.00">

                        <% if(locals.error){ %>
                            <% for (var i =0; i < error.length;  i++ ) { %>
                                <% if(error[i].path == 'amount'){ %>   
                                    <p id="amount-error" class="update-form__error"><%- error[i].message %></p>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="update-form__group">
                        <label class="update-form__label"><h3>User E-mail</h3></label>
                        <input id="usr_email" class="update-form__input" name="usr_email" type="text" placeholder="E-mail">

                        <% if(locals.error){ %>
                            <% for (var i =0; i < error.length;  i++ ) { %>
                                <% if(error[i].path == 'email'){ %>   
                                    <p id="usr_email-error" class="update-form__error"><%- error[i].message %></p>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="update-form__group">
                        <button class="update-form__btn hvr-sweep-to-right" type="submit"><h3>Confirm</h3></button>
                    </div>
                </form>


                <div class="content__form-title content__form-title--side">
                    <div class="form-title__title">
                        <h2>Cash Payment</h2>
                    </div>

                    <div class="form-title__desc">
                        Create a new booking and accept a cash payment.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>
