<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<style>

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


</style>


<div class="container">
    <!------ Content ------>
    <div class="account account--background">
        <%- include('../../partials/account-side-bar') %>
        <div class="account__section account__section--no-margin">
            <div class="account__section account__section--full-width account__overview">
                <div class="section__title">
                    <h2>Your Payment Details</h2>
                </div>

                <!-- <div style="text-align:right;margin-top:100px;">
                    <button id="add-payment" class="update-form__btn hvr-sweep-to-right" style="background:none;border:3px solid #303030;"><h3>Add Payment Method</h3></button>
                </div> -->


                <% if(locals.cards){ %>
                    <% for (var i = 0; i < cards.length;  i++ ) { %>
                        <div class="overview__option hvr-float">
                            <div class="option__content option__content--center option__content--yellow">
                                <div class="content__title content__title--margin-bottom">
                                    <h2><%- cards[i].type %> Credit Card</h2>
                                    <h3><%- cards[i].number %></h3>
                                </div>

                                <div class="content__dsc content__dsc--flex">       
                                    <div class="content__field">
                                        <div class="field__field">
                                            <img src="/img/account/calendar-black.png" />
                                            <h3>Expire Date:</h3>
                                            <%- cards[i].expire_date %>
                                        </div>

                                        <div class="field__field">
                                            <img src="/img/icons/pay.png" />
                                            <h3>Type:</h3>
                                            <%- cards[i].type %>
                                        </div>
                                    </div>      
                                </div>

                                <div class="content__inline content__inline--right">
                                    <div class="content__explore content__explore--black hvr-sweep-to-right hvr-sweep-to-right--white">
                                        <a href="/delete/cards/<%- cards[i].id %>">
                                            <h3>Remove</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% if(cards.length < 1) { %>
                        <p style="color: black;">No Memberships Found</p>
                    <% } %> 
                <% } else { %>
                    <p style="color: black;">No Memberships Found</p>
                <% } %>
            </div>

            <div class="account__section account__section--full-width account__section--no-margin account__payment-history">
                
                <% if(locals.cards.length > 0){ %>
                    <div class="payment-history__option">
                        <form class=" payment-history__option-form">
                            <div class="option-form__group">
                                <label class="option-form__label"><h3>View Payment History:</h3></label>
                                <select class="option-form__select" name="card-history">
                                    <% for (var i = 0; i < cards.length;  i++ ) { %>
                                        <option value="<%- i %>"><%- cards[i].number %></option>
                                    <% } %>
                                </select>
                            </div>
                        </form>
                    </div>
                <% } %>

                <div class="payment-history__option">
                    <button id="add-payment" class="payment-history__button hvr-sweep-to-right">
                        <h3>Add Payment Method</h3>
                    </button>
                </div>
                
            </div>


            <div class="account__section account__section--full-width account__details">
                <div class="section__title">
                    <h2>Your Payment History</h2>
                </div>

                <div class="details__content">
                    <div class="content__form-title content__form-title--top">
                        <div class="form-title__title">
                            <h2>Transaction 1</h2>
                        </div>
        
                        <div class="form-title__desc">
                            Brought some loo roll to fight the pandemic
                        </div>
                    </div>

                    <div class="content__update-form">
                        nfkfsf
                    </div>
        
                    <div class="content__form-title content__form-title--side">
                        <div class="form-title__title">
                            <h2>Transaction 1</h2>
                        </div>
        
                        <div class="form-title__desc">
                            Brought some loo roll to fight the pandemic
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>

    

    <!------ Modal -------->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            
            <form class="content__update-form" action="/user/account/add/card" method="POST" autocomplete="off">
                <input type="hidden" name="_csrf" value="<%- csrfToken %>" />

                <div class="update-form__group">
                    <label class="update-form__label"><h3>Card Number</h3></label>
                    <input id="card_number" class="update-form__input" type="text" name="card_number" placeholder="XXXX XXXX XXXX XXXX XXXX"/>      
                    <!--
                    <% if(locals.error){ %>
                        <% for (var i =0; i < error.length;  i++ ) { %>
                            <% if(error[i].path == 'address_1'){ %>                                    
                                <p id="address_1-error" class="update-form__error"><%- error[i].message %></p>
                            <% } %>
                        <% } %>
                    <% }%>
                    -->
                </div>

                <div class="update-form__group">
                    <label class="update-form__label"><h3>Expire Date </h3></label>
                    <input id="expire_date" class="update-form__input" type="text" name="expire_date" placeholder="XX/XX"/>

                    <!--
                    <% if(locals.error){ %>
                        <% for (var i =0; i < error.length;  i++ ) { %>
                            <% if(error[i].path == 'address_2'){ %>   
                                <p id="address_2-error" class="update-form__error"><%- error[i].message %></p>
                            <% } %>
                        <% } %>
                    <% } %>
                    -->
                </div>  

                <div class="update-form__group update-form__group--col">
                    <div class="update-form__group--row">
                        <label class="update-form__label"><h3>CVV</h3></label>
                        <input id="cvv" class="update-form__input" type="text" name="cvv" placeholder="XXX"/>
                        
                        <!--
                        <% if(locals.error){ %>
                            <% for (var i =0; i < error.length;  i++ ) { %>
                                <% if(error[i].path == 'city'){ %>
                                    <p id="city-error" class="update-form__error"><%- error[i].message %></p>   
                                <% } %>
                            <% } %>
                        <% } %>
                        -->
                    </div>
                </div>

                <div class="update-form__group update-form__group--col">
                    <div class="update-form__group--row">
                        <label class="update-form__label"><h3>Type</h3></label>
                        <input id="type" class="update-form__input" type="text" name="type" placeholder="VISA/Mastercard..."/>
                        
                        <!--
                        <% if(locals.error){ %>
                            <% for (var i =0; i < error.length;  i++ ) { %>
                                <% if(error[i].path == 'city'){ %>
                                    <p id="city-error" class="update-form__error"><%- error[i].message %></p>   
                                <% } %>
                            <% } %>
                        <% } %>
                        -->
                    </div>
                </div>
                <div class="update-form__group">
                    <button class="update-form__btn hvr-sweep-to-right" type="submit" ><h3>Add</h3></button>
                </div>
            </form>
        </div>
    </div>
</div>


<!------ Modal -------->
<script>

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("add-payment");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
    modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }

</script>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>