<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="container">
    <div class="account account--background">
        <%- include('../../partials/account-side-bar') %>

        <div class="account__section account__memberships" style="color:black;">

            <h1>Your Payment Details</h1>

            <div style="text-align:right;margin-top:100px;">
                <button class="update-form__btn hvr-sweep-to-right" style="background:none;border:3px solid #303030;"><h3>Add Payment Method</h3></button>
            </div>

            <!-- Content Tabs -->
            <div class="account__section account__overview short-margin full-width">

                <% if(locals.cards){ %>
                    <% for (var i = 0; i < cards.length;  i++ ) { %>

                        <div href="#" class="overview__option hvr-float">
                            <div class="option__content option__content--center" style="background-color: #d6c631;text-align:left;padding:20px;max-height:300px;">
                                
                                <div class="content__title">
                                    <h2><%- cards[i].type %> Credit Card</h2>
                                    <h3><%- cards[i].number %></h3>
                                </div>
        
                                <div class="content__dsc">
                                    
                                    <b>Expires: </b> <%- cards[i].expire_date %> days
                                    <br>
                                    
                                    <b>Type: </b> <%- cards[i].type %>
                                    <br>
                                    
                                </div>
        
                                <div style="text-align:right;width:100%;">
                                    <div class="content__explore hvr-sweep-to-right">
                                        <a href="/delete/cards/<%- cards[i].id %>">
                                            <h3>Remove</h3>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    <% } %>

                <% }else{ %>
                    
                    <div style="height:100%;">
                        <h2 style="color:black;margin:auto;">No memberships found :(</h2>
                    </div>
                <% }%>

            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>