<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<head>
    <!-- Stripe Payment -->
    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="/js/addCard.js" defer></script>
    <script src="/js/paymentForm.js" defer></script>
</head>


<h2>Pay for <%- activity.name %></h2>
<h3>price £<%- activity.cost %></h3>


<div class="modal modal--modal">
  <div class="modal__container">
    <div class="modal__header">
        <h2>Add Payment Method</h2>
        <div class="header__close modal--close">
            <img src="/img/icons/close.png" />
        </div>
    </div>
    
    <form class="modal__form sr-payment-form" action="/user/account/add/card" method="POST" autocomplete="off" id="payment-form">
      <div class="modal__content">
        <div class="sr-root">
          <div class="sr-main">
            <form id="payment-form payment" class="sr-payment-form">
              <div class="sr-combo-inputs-row payment__input">
                  <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
                  <div class="sr-input sr-card-element" id="card-element"></div>
              </div>

              <div class="sr-field-error  payment__error" id="card-errors" role="alert"></div>

              <div class="payment__inline">
                  <button id="submit" class="payment__submit hvr-sweep-to-right">
                      <!-- <div class="spinner hidden" id="spinner"></div> -->
                      <h3 id="button-text">Add Card</h3><span id="order-amount"></span>
                  </button>

                  <img src="/img/elements/loader.gif" class="payment__spinner payment__spinner--card payment__spinner--hidden" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>  
</div>

<div class="modal modal--delete">
  <div class="modal__container">
    <div class="modal__header modal__header--danger">
      <h2>Confirm the payment</h2>
      <div class="header__close modal--close">
        <img src="/img/icons/close-white.png" />
      </div>
    </div>

    <div class="modal__content">
      Are You sure You want to Proceed?

      <div class="sr-root">
        <div class="sr-main">
          <form id="submit-form" class="sr-payment-form">
            <input type="hidden" name="_csrf" value="<%- csrfToken %>" />

            <div class="sr-field-error-payment payment__error" id="payment-errors" role="alert"></div>

            <div class="payment__inline">
              <button id="submit-payment" class="payment__submit hvr-sweep-to-right">
                <h3 id="button-text">Confirm Payment</h3><span id="order-amount"></span>
              </button>

              <img src="/img/elements/loader.gif" class="payment__spinner payment__spinner--payment payment__spinner--hidden" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="sr-main">
  <div class="account__section account__section--full-width account__overview">
    <div class="section__title">
        <h2>Your Payment Methods: </h2>
    </div>

    <% if(locals.cards && locals.cards.length > 0){ %>
      <% for (var i = 0; i < cards.length;  i++ ) { %>
        <% if(cards[i].type != "__CASH__" ) { %> <!-- Dont display cash payment card everr -->
          <div class="overview__option hvr-float">
            <div class="option__content option__content--center option__content--yellow">
              <div class="content__title content__title--margin-bottom">
                <h2><%- cards[i].type %> Credit Card</h2>
                <h3>ending in <%- cards[i].number %></h3>
              </div>

              <div class="content__dsc content__dsc--flex">       
                <div class="content__field">
                  <div class="field__field">
                    <img src="/img/account/calendar-black.png" />
                    <h3>Expire Date:</h3>
                    <%- cards[i].expire_date %>
                  </div>

                  <div class="field__field">
                    <img src="/img/icons/pay.png" />
                    <h3>Type:</h3>
                    <%- cards[i].type %>
                  </div>
                </div>      
              </div>

              <div class="content__inline content__inline--right">
                <div id="<%- cards[i].id %>" class="content__explore content__explore--black hvr-sweep-to-right hvr-sweep-to-right--white content__explore--delete-payment modal--open-delete">
                  <a href="###?card=<%- cards[i].id %>">
                    <h3>Select Card</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>

      <% } else { %>
        <div class="section__not-found">
          <div class="not-found__image">
              <img src="/img/icons/sadface.jpg" />
          </div>
            <h2>No Payment Methods Found</h2>
        </div>
      <% } %>

      <div class="payment-history__option">
        <button class="payment-history__button hvr-sweep-to-right modal--open">
          <h3>Add Payment Method</h3>
        </button>
    </div>  
  </div>

</div>


<%- include('../../partials/foot') %>

