<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section account__overview">
            something will go here
        </div>
    </div>
</div>


<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>
