<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section account__overview">
            <a href="/manager/statistics" class="overview__option hvr-float">
                <div class="option__content option__content--center">
                    <div class="content__image">
                        <img src="/img/account/graphic.png" />
                    </div>

                    <div class="content__title">
                        <h2>View Usage Statistics</h2>
                    </div>

                    <div class="content__dsc">
                        View weekly and daily usage statistics, new members and profits
                    </div>

                    <div class="content__inline">
                        <div class="content__explore hvr-sweep-to-right">
                            <h3>Explore</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/manager/payments/cash" class="overview__option hvr-float">
                <div class="option__content option__content--center">
                    <div class="content__image">
                        <img src="/img/icons/clock.png" />
                    </div>

                    <div class="content__title">
                        <h2>New Cash Payment</h2>
                    </div>

                    <div class="content__dsc">
                        Make a booking with cash payment
                    </div>

                    <div class="content__inline">
                        <div class="content__explore hvr-sweep-to-right">
                            <h3>Explore</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/manager/register/employee" class="overview__option hvr-float">
                <div class="option__content option__content--center">
                    <div class="content__image">
                        <img src="/img/account/account.png" />
                    </div>

                    <div class="content__title">
                        <h2>Add a new Employee</h2>
                    </div>

                    <div class="content__dsc">
                        Register a new employee with their details
                    </div>

                    <div class="content__inline">
                        <div class="content__explore hvr-sweep-to-right">
                            <h3>Explore</h3>
                        </div>
                    </div>
                </div>
            </a>


            <a href="/manager/activities/new" class="overview__option hvr-float">
                <div class="option__content option__content--center">
                    <div class="content__image">
                        <img src="/img/icons/gym-white.png" />
                    </div>

                    <div class="content__title">
                        <h2>Add a new Activity</h2>
                    </div>

                    <div class="content__dsc">
                        Register a new employee with their details
                    </div>

                    <div class="content__inline">
                        <div class="content__explore hvr-sweep-to-right">
                            <h3>Explore</h3>
                        </div>
                    </div>
                </div>
            </a>


            <a href="/manager/facilities/new" class="overview__option hvr-float">
                <div class="option__content option__content--center">
                    <div class="content__image">
                        <img src="/img/icons/basketball-white.png" />
                    </div>

                    <div class="content__title">
                        <h2>Add a new Facility</h2>
                    </div>

                    <div class="content__dsc">
                        Register a new employee with their details
                    </div>

                    <div class="content__inline">
                        <div class="content__explore hvr-sweep-to-right">
                            <h3>Explore</h3>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>


<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>
