<%- include('../../partials/head') %>
<%- include('../../partials/header') %>



<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section account__details">
            <div class="section__title">
                <h2>Edit Activity</h2>
            </div>

            <%- activity %>
        </div>
    </div>
</div>



<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>