<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="modal modal--delete">
    <div class="modal__container">
        <div class="modal__header modal__header--danger">
            <h2>Delete Facility?</h2>
            <div class="header__close modal--close">
                <img src="/img/icons/close-white.png" />
            </div>
        </div>

        <div class="modal__content">
            Are You sure You want to Proceed?
        </div>

        <div class="modal__close">
            <a href="###" id="delete-facility" class="close__close hvr-sweep-to-right modal--close">
                <h3>Delete Facility</h3>
            </a>
            
            <div class="close__close hvr-sweep-to-right modal--close">
                <h3>Close</h3>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section-container">
            <div class="breadcrumbs">
                <div class="breadcrumbs__selector">
                    <div class="selector__item selector__item--selected" target="add-new">
                        <h3>Add New Facility</h3>
                    </div>
        
                    <% if(locals.facilities.length > 0) { %>
                        <div class="selector__item" target="configure">
                            <h3>Configure Facilities</h3>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="account__section account__section--full-width account__details" id="add-new">
                <div class="section__title">
                    <h2>Add a new Facility</h2>
                </div>

                <% if(locals.error){ %>
                    <% for (var i = 0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'success'){ %>                                    
                            <div class="details__content details__content--success">
                                <h2  class="content__success"><%- error[i].message %></h2>
                            </div>
                        <% } %>
                    <% } %>
                <% }%>


                <% if(locals.error){ %>
                    <% for (var i = 0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'unsuccessful'){ %>                                    
                            <div class="details__content details__content--danger">
                                <h2 class="content__danger"><%- error[i].message %></h2>
                            </div>
                        <% } %>
                    <% } %>
                <% }%>

                <div class="details__content">
                    <div class="content__form-title content__form-title--top">
                        <div class="form-title__title">
                            <h2>New Facility</h2>
                        </div>

                        <div class="form-title__desc">
                            Ensure their details are correct as these will be used for them to log in
                        </div>
                    </div>

                    <form class="content__update-form" action="?_csrf=<%- csrfToken %>" method="POST" autocomplete="off" enctype="multipart/form-data">
                        <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
                                    
                        <div class="update-form__group">
                            <label class="update-form__label"><h3>Name</h3></label>
                            <input id="name" class="update-form__input" type="text" name="name" placeholder="Name" value="<%- form.name %>" />

                            <% if(locals.error){ %>
                                <% for (var i =0; i < error.length;  i++ ) { %>
                                    <% if(error[i].path == 'name'){ %>
                                        <p id="name-error" class="update-form__error"><%- error[i].message %></p>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>

                        <div class="update-form__group">
                            <label class="update-form__label"><h3>Description</h3></label>
                            <textarea id="description" class="update-form__input" name="description" placeholder="Description"><%- form.description %></textarea>

                            <% if(locals.error){ %>
                                <% for (var i =0; i < error.length;  i++ ) { %>
                                    <% if(error[i].path == 'description'){ %>
                                        <p id="description-error" class="update-form__error"><%- error[i].message %></p>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>
                        
                        
                        <div class="update-form__group">
                            <label class="update-form__label"><h3>Price</h3></label>
                            <input id="price" class="update-form__input" type="text" name="price" placeholder="Price" value="<%- form.price %>" />

                            <% if(locals.error){ %>
                                <% for (var i =0; i < error.length;  i++ ) { %>
                                    <% if(error[i].path == 'price'){ %>
                                        <p id="price-error" class="update-form__error"><%- error[i].message %></p>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>
                    
                    
                        <div class="update-form__group">
                            <label class="update-form__label"><h3>icon</h3></label>
                            <!-- <input class="update-form__input" type="text" name="icon" /> -->
                            <% if(form.icon ) { %>
                                <input id="icon" type="hidden" name="icon" value="<%- form.icon %>" />
                            <% } else { %>
                                <input id="icon" type="hidden" name="icon" value="basketball-white" />
                            <% } %>

                            <% for(var i = 0; i < icons.length; i++) { %>
                                <img class="update-form__icon update-form__icon--<%- icons[i] %>" src="/img/facilities/<%- icons[i] %>.png" data_attr="<%- icons[i] %>" />
                            <% } %>

                            <% if(locals.error){ %>
                                <% for (var i =0; i < error.length;  i++ ) { %>
                                    <% if(error[i].path == 'icon'){ %>
                                        <p id="icon-error" class="update-form__error"><%- error[i].message %></p>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>
                        
                        <div class="update-form__group">
                            <label class="update-form__label"><h3>Image(s)</h3></label>
                            <input id="image" type="file" name="image" multiple />

                            <% if(locals.error){ %>
                                <% for (var i =0; i < error.length;  i++ ) { %>
                                    <% if(error[i].path == 'image'){ %>
                                        <p id="image-error"class="update-form__error"><%- error[i].message %></p>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>

                        <div class="update-form__group">
                            <button class="update-form__btn hvr-sweep-to-right" type="submit"><h3>Add</h3></button>
                        </div>
                    </form>

                    <div class="content__form-title content__form-title--side">
                        <div class="form-title__title">
                            <h2>New Facility</h2>
                        </div>

                        <div class="form-title__desc">
                            Ensure their details are correct as these will be used for them to log in
                        </div>
                    </div>
                </div>            
            </div>

            <% if(locals.facilities.length > 0) { %>
                <div class="account__section account__section--full-width account__section--d-none account__details" id="configure">
                    <div class="section__title">
                        <h2>Configure Facilities</h2>
                    </div>

                    <% for (var i = 0; i < facilities.length; i++) { %>
                        <div class="details__content">
                            <div class="content__form-title content__form-title--top">
                                <div class="form-title__title">
                                    <h2><%- facilities[i].name %></h2>
                                </div>
    
                                <div class="form-title__book hvr-sweep-to-right">
                                    <a href="/manager/facilities/edit/<%- facilities[i].id %>">
                                        <h3>Edit</h3>
                                    </a>
                                </div>

                                <div id="<%- facilities[i].id %>" class="form-title__book hvr-sweep-to-right form-title__book--delete-facility modal--open-delete">
                                    <h3>Delete</h3>
                                </div>
                            </div>

                            <div class="content__list">
                                <div class="list__field">
                                    <div class="field__field">
                                        <img src="/img/icons/discount.png" />
                                        <h3>Price:</h3>
                                        <span >£<%- facilities[i].price %> p/h</span>
                                    </div>
                
                                    <div class="field__field">
                                        <img src="/img/icons/arrow.png" />
                                        <h3>Description:</h3>
                                        <span ><%- facilities[i].description %></span>
                                    </div>
                
                                </div>
                            </div>


                            <div class="content__form-title content__form-title--side">
                                <div class="form-title__title">
                                    <h2><%- facilities[i].name %></h2>
                                </div>

                                <div class="form-title__book hvr-sweep-to-right">
                                    <a href="/manager/facilities/edit/<%- facilities[i].id %>">
                                        <h3>Edit</h3>
                                    </a>
                                </div>

                                <div id="<%- facilities[i].id %>" class="form-title__book hvr-sweep-to-right form-title__book--delete-facility modal--open-delete">
                                    <h3>Delete</h3>
                                </div>
                            </div>

                        </div>

                    <% } %>  
                </div>
            <% } %>

        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>
