<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section account__details">

            <div class="section__title">
                <h2>Add a new Facility</h2>
            </div>

            <form method="POST" action="/api/upload_facility" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
            
                <input type="file" name="image" multiple><br>
            
                <label>Name</label>
                <input type="text" name="name"><br>
                
                <label>price</label>
                <input type="text" name="price"><br>
            
                <label>latitude</label>
                <input type="text" name="latitude"><br>
            
                <label>longitude</label>
                <input type="text" name="longitude"><br>
            
                <label>icon</label>
                <input type="text" name="icon"><br>
            
                <input type="submit">
            </form>            
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>
