<%- include('../../partials/head') %>
<%- include('../../partials/header') %>


<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section account__details">

            <div class="section__title">
                <h2>Add a new Facility</h2>
            </div>

            <div class="details__content">
                <div class="content__form-title content__form-title--top">
                    <div class="form-title__title">
                        <h2>New Facility</h2>
                    </div>

                    <div class="form-title__desc">
                        Ensure their details are correct as these will be used for them to log in
                    </div>
                </div>

                <form class="content__update-form" method="POST" action="" autocomplete="off" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%- csrfToken %>" />
                    
                                
                    <div class="update-form__group">
                        <label class="update-form__label"><h3>Name</h3></label>
                        <input class="update-form__input" type="text" name="name" placeholder="Name" />
                    </div>
                    
                    
                    <div class="update-form__group">
                        <label class="update-form__label"><h3>Price</h3></label>
                        <input class="update-form__input" type="text" name="price" placeholder="Price" />
                    </div>


                    <div class="update-form__group">
                        <label class="update-form__label"><h3>Description</h3></label>
                        <textarea class="update-form__input" name="description" placeholder="Description"></textarea>
                    </div>
                    
                    <div class="update-form__group">
                        <label class="update-form__label"><h3>latitude</h3></label>
                        <input class="update-form__input" type="text" name="latitude" />
                    </div>
                    

                    <div class="update-form__group">
                        <label class="update-form__label"><h3>longitude</h3></label>
                        <input class="update-form__input" type="text" name="longitude" />
                    </div>
                
                    <div class="update-form__group">
                        <label class="update-form__label"><h3>icon</h3></label>
                        <!-- <input class="update-form__input" type="text" name="icon" /> -->
                        <input id="icon" type="hidden" name="icon" value="basketball" />

                        <% for(var i = 0; i < icons.length; i++) { %>
                            <img class="update-form__icon update-form__icon--<%- icons[i] %>" src="/img/facilities/<%- icons[i] %>.png" data_attr="<%- icons[i] %>" />
                        <% } %>
                    </div>
                    
                    <div class="update-form__group">
                        <label class="update-form__label"><h3>Image(s)</h3></label>
                        <input type="file" name="image" multiple />
                    </div>

                    <div class="update-form__group">
                        <button class="update-form__btn hvr-sweep-to-right" type="submit"><h3>Add</h3></button>
                    </div>
                </form>

                <div class="content__form-title content__form-title--side">
                    <div class="form-title__title">
                        <h2>New Facility</h2>
                    </div>

                    <div class="form-title__desc">
                        Ensure their details are correct as these will be used for them to log in
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>
