<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<link rel = "stylesheet" type = "text/css" href = "/css/Chart.min.css" />

<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section-container">
            <div class="breadcrumbs">
                <div class="breadcrumbs__selector">
                    <div class="selector__item selector__item--selected" target="general-usage">
                        <h3>General Usage</h3>
                    </div>
 
                    <div class="selector__item selector__item" target="activity-usage">
                        <h3>Activity Usage</h3>
                    </div>

                    <div class="selector__item selector__item" target="session-usage">
                        <h3>Session Usage</h3>
                    </div>

                    <div class="selector__item selector__item" target="facility-usage">
                        <h3>Facility Usage</h3>
                    </div>
                </div>
            </div>


            <div class="account__section account__section--full-width account__details" id="general-usage">
                <!-- Activity Weekly Overall -->
                <div class="section__title" style="text-align:center;margin-top:100px;">

                    <h3>General Weekly Usage</h3>
                    
                    <b>Week: </b>
                    <input id="login-week-start" value="01/01/2020"></input>
                    <input id="login-week-end" value="01/04/2020"></input>

                    <img id="loader-7" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="weekly-login-usage" width="400" height="200"></canvas>

                    <hr>
                </div> 
            </div>


            <div class="account__section account__section--d-none account__section--full-width account__details" id="activity-usage">
                    

                <!-- Activity Usage Overall -->
                <div class="section__title sport-result" style="text-align:center;margin-top:100px;">

                    <h3>Overall Activity Usage</h3>
                    <b>Activity: </b>
                    
                    <select id="sport-select-1" class="a-select-3" disabled></select>

                    <img id="loader-5" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="single-sport-usage" width="400" height="200"></canvas>

                    <hr>
                </div>
                

                <!-- Activity Weekly Overall -->
                <div class="section__title sport-result" style="text-align:center;margin-top:100px;">

                    <h3>Weekly Activity Usage</h3>
                    
                    <b>Activity: </b>
                    <select id="sport-select-2" class="a-select-3" disabled></select>

                    <b>Week: </b>
                    <input id="sport-week-start" value="01/01/2020"></input>
                    <input id="sport-week-end" value="20/04/2020"></input>

                    <img id="loader-6" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="weekly-sport-usage" width="400" height="200"></canvas>

                    <hr>
                </div>
            </div>


            <div class="account__section account__section--d-none account__section--full-width account__details" id="session-usage">
                    
                <!-- Session Usage Overall -->
                <div class="section__title activity-result" style="text-align:center;margin-top:100px;">

                    <h3>Overall Session Usage</h3>
                    <b>Session: </b>
                    
                    <select id="activity-select-1" class="a-select" disabled></select>

                    <img id="loader-1" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="single-activity-usage" width="400" height="200"></canvas>

                    <hr>
                </div>

                <!-- Session Weekly Overall -->
                <div class="section__title activity-result" style="text-align:center;margin-top:100px;">

                    <h3>Weekly Session Usage</h3>
                    
                    <b>Session: </b>
                    <select id="activity-select-2" class="a-select" disabled></select>

                    <b>Week: </b>
                    <input id="activity-week-start" value="01/01/2020"></input>
                    <input id="activity-week-end" value="20/04/2020"></input>

                    <img id="loader-2" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="weekly-activity-usage" width="400" height="200"></canvas>

                    <hr>
                </div>
            </div>


            <div class="account__section account__section--d-none account__section--full-width account__details" id="facility-usage">
                <!-- Facility Usage Overall -->
                <div class="section__title facility-result" style="text-align:center;margin-top:100px;">

                    <h3>Overall Facility Usage</h3>
                    <b>Facility: </b>
                    
                    <select id="facility-select-1" class="a-select-2" disabled></select>

                    <img id="loader-3" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="single-facility-usage" width="400" height="200"></canvas>

                    <hr>
                </div>


                <!-- Facility Weekly Overall -->
                <div class="section__title facility-result" style="text-align:center;margin-top:100px;">

                    <h3>Weekly Facility Usage</h3>
                    
                    <b>Facility: </b>
                    <select id="facility-select-2" class="a-select-2" disabled></select>

                    <b>Week: </b>
                    <input id="facility-week-start" value="01/01/2020"></input>
                    <input id="facility-week-end" value="20/04/2020"></input>

                    <img id="loader-4" src="/img/elements/loader.gif" style="margin:auto" width="200px"/>

                    <canvas id="weekly-facility-usage" width="400" height="200"></canvas>

                    <hr>
                </div>
            </div>
        </div>
    </div>  
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>

<script src="/js/statistics/Chart.min.js"></script>
<script src="/js/statistics/ChartFunctions.js"></script>
<script src="/js/statistics/main.js"></script>