<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="container">
    <div class="account account--background">
        <%- include('../../partials/manager-side-bar') %>

        <div class="account__section account__overview">
            <div class="section__title">
                <h2>Usage Statistics</h2>
            </div>

        </div>
    </div>  
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/foot') %>