<%- include('../partials/head') %>
<%- include('../partials/header') %>

<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 1em;
        width:10em;
    }
</style>

<% if(locals.total && locals.results){ %>
    <!-- some description -->
    <p>we have <%=total%> activities in total</p>
    <p>page number <%=page_no%></p>


    
    <label>Show activities for the week of: </label>
    <input class="date_select_activity-week" type="date">

    <table id="timetable_activity">
        <tr>
            <th>Facility</th>
            <th id="timetable_facility_header_0">Monday</th>
            <th id="timetable_facility_header_1">Tuesday</th>
            <th id="timetable_facility_header_2">Wednesday</th>
            <th id="timetable_facility_header_3">Thursday</th>
            <th id="timetable_facility_header_4">Friday</th>
            <th id="timetable_facility_header_5">Saturday</th>
            <th id="timetable_facility_header_6">Sunday</th>
        </tr>

        <% var facility = "" %>
        <% for(var j = 0; j < timetable.length; j++) {%>
            <% if (timetable[j].facility_name != facility) { %>
                <tr>
                    <td><%- timetable[j].facility_name %></td>

                    <% facility = timetable[j].facility_name %>       
                    
                    <% for(var i = 0; i < 7; i++) { %>
                        <% var result = false %>
                        <% for(var k = 0; k < timetable.length; k++) { %>
                            <% if(timetable[k].weekday == i && timetable[k].facility_name == facility) { %>
                                <td><%- timetable[k].name_sport %></td>
                                <% result = true %>
                            <% } %>
                        <% } %>

                        <% if(!result) { %>
                            <td id="timetable_facility_data_<%- i %>">No Activities</td>
                        <% } %>
                    <% } %>
                </tr>
            <% } %>
        <% } %>

    </table>    

    


    <!-- activity tabs -->
    <% for (var i =0; i < results.length;  i++ ) { %>
        <div style="border:1px solid black">
            <h3><%=results[i].id%>: <%=results[i].name%></h3>
            <p><%=results[i].description%></p>
            <br>


            <%if (results[i].id_image != null) {%>
            <div>
                <img src="/uploads/<%=results[i].id_image%>.<%=results[i].ext%>"/>
            </div>
            <% } %>   
            
            <p>sport: <%=results[i].name_sport%></p>
            <p>sport description: <%=results[i].description_sport%></p>
            <br>
            <p>start time: <%=results[i].start_time%></p>
            <p>cost: <%=results[i].cost%></p>
            <p>discount: <%=results[i].discount%></p>
            <p>duration: <%=results[i].duration%></p>
            <p>sport id: <%=results[i].id_sport%></p>
            <form method="POST" action="/booking">
                <input type="submit", value="Book now">
                <input type="hidden" name="activity_id" value="<%=results[i].id%>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            </form>
        </div>
    <% } %>

    <!-- page numbers -->
    <p>number of pages: <%=no_pages%></p>
    
    <div> 
    <% for (var i = 1; i <= no_pages; ++i) { %>
        <form method="POST" action="/activities">
            <input type="submit", value="<%=i%>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden", name="page_no", value="<%=i%>">
            <input type="hidden", name="no_items", value="<%=no_items%>">
        </form>
    <% } %>
    </div>

<% } %>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>