<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container" style="margin:auto;text-align:center;background-image:url('https://i.ya-webdesign.com/images/sad-animal-png-4.png');background-size:cover;">
    <div style="background: rgba(255,255,255,0.5);height:100%;width:100%;padding:200px">
        <h1>Error :(</h1>
        <h3><%- error %></h3>
    </div>
</div>


<%- include('../partials/footer') %>
<%- include('../partials/foot') %>