<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container">
    <div class="facilities">
        <div class="facilities__header">
            <h2>Our Facilities</h2>
        </div>

        <div class="facilities__container">

            <%if (locals.results) {%>
            <%for (var i = 0; i < results.length; ++i) { %>
            <div class="facilities__facility">
                <div class="facility__spacing">
                    <div class="spacing__content">
                        <div class="content__desc">
                            <div class="desc__facility-name">
                                <h2><%=results[i].name%></h2>
                            </div>

                            <div class="desc__facility-info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat
                            </div>

                            <div class="desc__facility-discover">
                                <div class="discover__link">
                                    <a href="/facilities/discover?id=<%=results[i].id%>"><h2>Discover</h2></a>
                                </div>
                            </div>
                        </div>

                        <div class="content__image">
                            <img src="/img/icons/<%=results[i].icon%>"/>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>

            
        </div>
    </div>
</div>


<%- include('../partials/footer') %>
<%- include('../partials/foot') %>