<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container">
    <div class="facilities">
        <div class="facilities__header">
            <h2>Our Facilities</h2>
        </div>

        <div class="facilities__container">

            <%if (locals.results) {%>
            <%for (var i = 0; i < results.length; ++i) { %>
            <div class="facilities__facility">
                <div class="facility__spacing">
                    <div class="spacing__content">
                        <div class="content__desc">
                            <div class="desc__facility-name">
                                <h2><%- results[i].name %></h2>
                            </div>

                            <div class="desc__facility-info">
                                <%- results[i].description %>
                            </div>

                            <div class="desc__facility-price">
                                <h3>£<%- results[i].price %> p/h</h3> 
                            </div>

                            <div class="desc__facility-discover">
                                <div class="discover__link hvr-sweep-to-right">
                                    <a href="/facilities/discover?id=<%=results[i].id%>"><h2>Discover</h2></a>
                                </div>
                            </div>
                        </div>

                        <div class="content__image">
                            <img src="/img/facilities/<%=results[i].icon%>.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>

            
        </div>

        <%if (locals.no_pages && locals.no_items) {%>
        <!-- page numbers -->
        <p>number of pages: <%=no_pages%></p>
        
        <div> 
        <% for (var i = 1; i <= no_pages; ++i) { %>
            <form method="POST" action="/facilities">
                <input type="submit", value="<%=i%>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden", name="page_no", value="<%=i%>">
                <input type="hidden", name="no_items", value="<%=no_items%>">
            </form>
        <% } %>
        </div>
        <% } %>

    </div>
</div>


<%- include('../partials/footer') %>
<%- include('../partials/foot') %>