<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container">
    <div class="facilities">

        <%if (locals.facility && locals.images) {%>
            <%if (facility.length > 0) { %>
            
            <div class="facilities__header">
                <h2><%=facility[0].name%></h2>
            </div>

            <div class="facilities__container">

                <div>
                    <%for (var i = 0; i < images.length; ++i) {%>
                    <img src="/uploads/<%=images[i].id%>.<%=images[i].ext%>"/>
                    <% } %>

                </div>
                
            </div>

            <% } %>
        <% } %>


        <label>Show activities for the week of: </label>
        <input id="<%- facility[0].id %>" class="date_select_facility-week" type="date">
        <table id="timetable_facility">
            <tr>
                <th id="timetable_facility_header_0">Monday</th>
                <th id="timetable_facility_header_1">Tuesday</th>
                <th id="timetable_facility_header_2">Wednesday</th>
                <th id="timetable_facility_header_3">Thursday</th>
                <th id="timetable_facility_header_4">Friday</th>
                <th id="timetable_facility_header_5">Saturday</th>
                <th id="timetable_facility_header_6">Sunday</th>
            </tr>
            <tr>
                <% for(var i = 0; i < 7; i++) { %>
                    <% var result = false %>
                    <% for(var j = 0; j < timetable.length; j++) { %>
                        <% if(timetable[j].weekday == i) { %>
                            <td id="timetable_facility_data_<%- i %>"><%- timetable[j].name_sport %><a></a></td>
                            <% result = true %>
                        <% } %>
                    <% } %>

                    <% if(!result) { %>
                        <td id="timetable_facility_data_<%- i %>">No Activities<a></a></td>
                    <% } %>
                <% } %>
            </tr>
        </table>

    </div>
</div>


<%- include('../partials/footer') %>
<%- include('../partials/foot') %>


<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 1em;
        width:10em;
    }
</style>