<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container">
    <div class="facilities">

        <%if (locals.results) {%>
        <%if (results.length > 0) { %>
        
        <div class="facilities__header">
            <h2><%=results[0].id%>: <%=results[0].name%></h2>
        </div>

        <div class="facilities__container">

            <div>
                <h3><%=results[0].id%>: <%=results[0].name%></h3>
                <p><%=results[0].description%></p>
                <img src="<%=results[0].pic%>"/>
            </div>
            
        </div>

        <% } %>
        <% } %>
    
    </div>
</div>


<%- include('../partials/footer') %>
<%- include('../partials/foot') %>