<%- include('../partials/head') %>

<div class="container">
    <div class="register">
        <form method="POST" action="/user/register" autocomplete="off">

            <input type="hidden" name="_csrf" value="<%- csrfToken %>" />

            <div class="register-form__group">
                <input name="name" type="text" placeholder="Name" value="<%- form.name %>" />
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'name'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <input name="surname" type="text" placeholder="Surname" value="<%- form.surname %>" />
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'surname'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
            

            <div class="register-form__group">
                <input name="email" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" placeholder="E-mail"  value="<%- form.email %>"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'email'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <!-- Please feed backend with unix timestamp string to submit -->
                <input name="birth" type="text" placeholder="Date of Birth"  value="<%- form.birth %>"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'birth'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <input name="phone" type="text" placeholder="Phone" value="<%- form.phone %>" />
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'phone'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <input name="address_1" type="text" placeholder="Address Line 1" value="<%- form.address_1 %>"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'address_1'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <input name="address_2" type="text" placeholder="Address Line 2" value="<%- form.address_2 %>"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'address_2'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <input name="zipcode" type="text" placeholder="Zip Code" value="<%- form.zipcode %>"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'zipcode'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>


            <div class="register-form__group">
                <input name="city" type="text" placeholder="City"  value="<%- form.city %>"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'city'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>

            
            <div class="register-form__group">
                <input name="password" type="password" placeholder="Password"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'password'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>

            <div class="register-form__group">
                <input name="confirm_password" type="password" placeholder="Confirm Password"/>
                <% if(locals.error){ %>
                    <% for (var i =0; i < error.length;  i++ ) { %>
                        <% if(error[i].path == 'confirm_password'){ %>
                            <p style="color: red;"><%- error[i].message %></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        
            <button type="submit">Join us!</button>
        
        </form>
    </div>
</div>




<%- include('../partials/foot') %>